<!DOCTYPE html>
<html>
    <body>
        <h1>EvaluateMe</h1>
        <p>Maailman yksinkertaisimmassa ravintola-arviointi sovelluksessa voit arvostella suosikkiravintoloitasi</p>
        <hr>
      
        {% if session.user_id %}
        Ravintolat:
        <p>
        {% for restaurant in restaurants %}
        <a href="/restaurantrev/{{ restaurant.id }}">{{ restaurant[0] }}</a>
        <p>
        {% endfor %} 
        <hr>
        Olet kirjautunut sisään.
        <p>   
        <a href="/add">Lisää tästä ravintola</a> | <a href="/logout">Kirjaudu ulos</a>
        {% else %}
        Ravintolat:
        <p>
        {% for restaurant in restaurants %}
        {{ restaurant[0] }}
        <p>
        {% endfor %} 
        <p>
        <hr>
        Jos haluat päästä arvostelemaan, niin kirjaudu sisään
        <a href="/login">tästä</a> tai <a href="/register">rekisteröidy</a>
        {% endif %}
    </body>  
</html>
