<!DOCTYPE html>
{% extends "layout.html" %}
<link rel="stylesheet" href="/static/css/main.css">

{% block content %}

        
        <p>Maailman yksinkertaisimmassa ravintola-arviointi sovelluksessa voit arvostella suosikkiravintoloitasi</p>
        <hr>

        <div class="content">
            <div class="container">
                Ravintolat:
                <p>
                {% for restaurant in restaurants %}
                <a href="/restaurantrev/{{ restaurant.id }}">{{ restaurant[0] }}</a>
                <p>
                {% endfor %} 
            </div>
            {% if admin %}
            <hr>
            <nav>     
                <a href="/add">Lisää tästä ravintola</a>
            </nav>
             
            {% endif %} 

            {% if session.user_id %}
            <hr>
            <nav>     
                <a href="/logout">Kirjaudu ulos</a>
            </nav>
            <hr> 
            Olet kirjautunut sisään.
            {% else %}
            <hr>
            Jos haluat päästä arvostelemaan, niin kirjaudu sisään
            <a href="/login">tästä</a> tai <a href="/register">rekisteröidy</a>
            {% endif %}
            <hr>
        </div>  

{% endblock %}
