<!DOCTYPE html>
<link rel="stylesheet" href="/static/css/main.css">
<meta name="viewport" content="width=device-width, initial-scale=1">

<html>
    <title>EvaluateMe {% block title %}{% endblock %}</title>
    <h1>EvaluateMe</h1> 
    <img src="https://lh3.googleusercontent.com/pw/ACtC-3eTa6ucXqvLVRosIcvDxu7cN7J0M8XkN1Q3UxftQnXpbt_GGGG0yIMO6bKlyfq_-_6qEu-DM8PmyUjZQQyGSweQTX-aY6j9OjWX8j2Ijw2smoZXN74EZSdmfEk4dhZFID0b1dFqZtiAkgbU0JlDsOFZ=s727-no?authuser=0" alt="evaluateme">
    {% block content %}{% endblock %}
</html>
