<!DOCTYPE html>
<html>
    <head>
        <title>Register</title>
    </head>

    <h1>Rekisteröinti</h1>

    <form action="/register" method="post">
        Tunnus: <input type="text" name="username">
        <p>
        Salasana: <input type="password" name="password">
        <p>
        <input type="checkbox" name="admin" value="ravintoloitsija"> Ravintoloitsija
        <p>
        <input type="submit" value="Luo tunnus">
    </form>
    <nav>
        <a href="/">Etusivu</a> | <a href="/login">Kirjaudu sisään</a>
    </nav>
    
</html>    