
<!DOCTYPE html>
<html>
    <head>
        <title>Restaurants reviews</title>
    </head>
    Ravintola:
    <p>
    {% for restaurant in restaurants %}
    <a href="/restaurantrev/{{ restaurant.id }}">{{ restaurant[0] }}</a>
    <p>
    {% endfor %} 
    <hr>

    Arvosteluiden määrä: {{ count }}
    <hr>

    {% for review in reviews %}
    Annettu {{ stars }} tähteä
    <p>
    <i>Arvostelu:</i> {{ review[0] }}
    <p>
    <i>Lähettäjä:</i> {{ review[1] }}
    <p>
    <i>Aika:</i> {{ review[2].strftime("%Y-%m-%d %H:%M:%S") }}
    <hr>
    {% endfor %}
    
    <nav>
        <a href="/">Etusivu</a> | <a href="/restaurant">Anna arvostelu ravintolalle</a> | <a href="/logout">Kirjaudu ulos</a>
    </nav>
    
</html>  