<!DOCTYPE html>
<html>
    <head>
        <title>Review</title>
    </head>

    {{ id }}
  
    <h2>Kirjoita arvostelu tähän:</h2>

    <form action="/sendreview" method="post">
        Anna tähtiä: 
        <br>
        <input type="radio" name="stars" value="1"> 1
        <input type="radio" name="stars" value="2"> 2
        <input type="radio" name="stars" value="3"> 3
        <input type="radio" name="stars" value="4"> 4
        <input type="radio" name="stars" value="5"> 5
        <br>
        Arvostelu: 
        <textarea name="content" rows="3" cols="40"></textarea>
        <br>
        <input type="submit" value="Lähetä">
        <input type="hidden" name="restaurant_id" value="{{ id }}">
    </form>
    <hr>
    <nav>
        <a href="/">Etusivu</a> | <a href="/logout">Kirjaudu ulos</a>
    </nav>
    
</html>   