<!DOCTYPE html>
{% extends "layout.html" %}
<link rel="stylesheet" href="/static/css/main.css">

{% block content %}
    <html>
        <head>
            <title>Restaurants reviews</title>
        </head>
        <h1>Ravintola:</h1>
        <h1>{{ restaurant }}</h1>
        <p>
        <hr>
        Arvosteluiden määrä: {{ count }}
        <p>
        Annettu {{ get_stars }} tähteä
        <hr>
        {% for review in reviews %}
        <p>
        <i>Arvostelu:</i> {{ review[0] }}
        <p>
        <i>Lähettäjä:</i> {{ review[1] }}
        <p>
        <i>Aika:</i> {{ review[2].strftime("%Y-%m-%d %H:%M:%S") }}
        <hr>
        {% endfor %}
    
        {% if session.user_id %}
            <nav>
                <a href="/">Etusivu</a> | <a href="/restaurant/{{ id }}">Anna arvostelu ravintolalle</a> | <a href="/logout">Kirjaudu ulos</a>
            </nav>
        {% else %}
        <nav>
            <a href="/">Etusivu</a> | <a href="/login">Kirjaudu sisään</a> | <a href="/register">Rekisteröidy</a>
        </nav>
        {% endif %}
    </html> 
{% endblock %}    